<div class="container" id="users-wrapper">
  <div class="row">
    <div class="col-xs-12" id="users-page-label">
      <span>Users</span>
    </div>
  </div>
  <div id="all-users">
    <% @users.each do |user| %>
      <div class="row individual-user">
        <%= link_to user do %>
          <div class="col-xs-12 nopadding">
            <span class="user-name"><%= user.name %></span>
            <div class="user-level">
              <span class="user-level-label">Level: <%= user.level %></span>
              <!-- Experience bar -->
              <div class="user-experience-bar">
                <div class="experience-bar-overlay" style="width:<%= user.current_exp %>%"></div>
                <div class="experience-text-overlay">
                  <%= user.current_exp %> / 100
                </div>
              </div>
            </div>
            <%= link_to edit_user_path(user) do %>
              <div class="edit-user-button btn">
                <i class="fa fa-pencil fa-2x"></i>
              </div>
            <% end %>
            <%= link_to user, method: :delete, data: {confirm: "Are you sure?" } do %>
              <div class="edit-user-button btn">
                <i class="fa fa-trash fa-2x"></i>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="users-options">
        <%= link_to "New User", new_user_path %>
      </div>
    </div>
  </div>
</div>
