<div class="container" id="all-users">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3" id="users-page-label">
      <span>Users</span>
    </div>
  </div>
  <div>
    <% @users.each do |user| %>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 individual-user">
          <h2><%= link_to user.name, user %></h2>
          <div class="user-level">
            <h5>Level: <%= user.level %></h5>
            <!-- Experience bar -->
            <div class="user-experience-bar">
              <div class="experience-bar-overlay" style="width:<%= user.current_exp %>%"></div>
              <div class="experience-text-overlay">
                <%= user.current_exp %> / 100
              </div>
            </div>
          </div>
          <%= link_to "Edit", edit_user_path(user) %>
          <%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="users-options">
        <%= link_to "New User", new_user_path %>
      </div>
    </div>
  </div>
</div>
