<h1>New User</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create" %>
<% end %>

<div class="users-options">
  <%= link_to "Back to Users", users_path %>
</div>

